/*
// Desc: Javascript File
// Author: Joseph, Joey, Jake, Justin, Ashton, Mike
// Dates: Dec 1 - 15, 2024
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(1, 74, 84);
}

.mainbox {
  width: 1016px;
  /* height: 600px; will be removed later */
  background-color: lightgrey;
  border: 8px solid silver;

  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

/* The header section. */
header {
  width: 1000px;
  height: 205px;
  background-color: lightgreen;
}

/* The header is made up of a message bar and the banner image. */
.tophead {
  width: 1000px;
  height: 50px;
  background-color: lightgrey;
  border-bottom: 8px solid silver;
  padding-left: 5px;
  padding-right: 5px;
}

/* The navigation section. */

nav {
  width: 1000px;
  height: 67px;
  background-color: silver;
  border-top: 12px solid silver;
  border-bottom: 8px solid silver;
}

/* The nav section will contain 2 divs. */

.navleft {
  width: 495px;
  height: 44px;
  background-color: rgb(3, 3, 155);
  float: left;
  text-align: center;
  padding-top: 6px;
}

.navleft a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18pt;
  text-decoration: none;
  margin-left: 26px;
  margin-right: 22px;
  display: block;
  float: left;
}

.navleft a:hover {
  text-decoration: none;
  color: white;
  transform: scale(115%);
}

.navleft a:link {
  text-decoration: none;
  color: white;
}

.navleft a:visited {
  text-decoration: none;
  color: white;
}

.navright {
  width: 495px;
  height: 44px;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(3, 3, 155);
  color: lightgray;
  margin-left: 5px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
}

main {
  width: 1000px;
  height: 685px;
  background-color: silver;
}

/* The main section will contain 3 divs. */

.maintopleft {
  width: 495px;
  height: 360px;
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px;
  margin: 0px;
  float: left;
}

.mainright {
  width: 495px;
  height: 675px;
  background-color: lightgray;
  border: 1px solid black;
  padding: 10px;
  margin-left: 5px;
  float: right;
}

.mainbottomleft {
  width: 495px;
  height: 305px;
  background-color: lightgrey;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  float: left;
}
footer {
  color: white;
  width: 1000px;
  height: 80px;
  background-color: black;
  padding-top: 4px;
}
footer h1 {
  padding-left: 10px;
  padding-top: 25px;
  margin: 0;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.footerleftbox {
  padding-left: 20px;
  float: left;
}

.footerrightbox {
  padding-right: 20px;
  float: right;
}

.footerrightbox img {
  margin-top: 5px;
  margin-left: 10px;
}
.copyright {
  text-align: right;
}
footer img:hover {
  transform: scale(125%);
}
.monospace {
  font-family: "Courier New", Courier, monospace;
}

.rightalign {
  text-align: right;
}

.leftalign {
  text-align: left;
}

.centeralign {
  text-align: center;
}

table {
  margin: auto;
  border-collapse: collapse;
}

td,
th {
  padding: 0px 15px;
}

#headertable {
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 12pt;
  height: 40px;
}

#headertable td {
  padding: 2px 5px 0px 5px;
}

#headertable .center {
  width: 40%;
  text-align: center;
}

#headertable .left {
  width: 30%;
  text-align: left;
}

#headertable .right {
  width: 30%;
  text-align: right;
}

button {
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 1); /* Shadow with offset, blur, and transparency */
  font-size: 12px;
}

button:hover {
  background-color: rgb(84, 84, 84);
  transform: translateY(-2px); /* Slight lift effect */
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5rem;
}

.heading {
  color: black;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}
